<h1>Details for Invoice No: {{invoiceNo}}</h1>

<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Invoice No</td>
        <td>{{invoice.InvoiceNo}}</td>
    </tr>
    <tr>
        <td>Image</td>
        <td><img src="{{invoice.image}}" alt="Car Image" width="200px"></td>
    </tr>
    <tr>
        <td>Manufacturer</td>
        <td>{{invoice.Manufacturer}}</td>
    </tr>
    <tr>
        <td>Class</td>
        <td>{{invoice.class}}</td>
    </tr>
    <tr>
        <td>Sales in Thousands</td>
        <td>{{invoice.Sales_in_thousands}}</td>
    </tr>
    <tr>
        <td>Year Resale Value</td>
        <td>{{invoice.__year_resale_value}}</td>
    </tr>
    <tr>
        <td>Vehicle Type</td>
        <td>{{invoice.Vehicle_type}}</td>
    </tr>
    <tr>
        <td>Price in Thousands</td>
        <td>{{invoice.Price_in_thousands}}</td>
    </tr>
    <tr>
        <td>Horsepower</td>
        <td>{{invoice.Horsepower}}</td>
    </tr>
    <tr>
        <td>Wheelbase</td>
        <td>{{invoice.Wheelbase}}</td>
    </tr>
    <tr>
        <td>Width</td>
        <td>{{invoice.Width}}</td>
    </tr>
    <tr>
        <td>Length</td>
        <td>{{invoice.Length}}</td>
    </tr>
    <tr>
        <td>Curb Weight</td>
        <td>{{invoice.Curb_weight}}</td>
    </tr>
    <tr>
        <td>Fuel Capacity</td>
        <td>{{invoice.Fuel_capacity}}</td>
    </tr>
    <tr>
        <td>Fuel Efficiency</td>
        <td>{{invoice.Fuel_efficiency}}</td>
    </tr>
    <tr>
        <td>Latest Launch</td>
        <td>{{invoice.Latest_Launch}}</td>
    </tr>
    <tr>
        <td>Power performance factor</td>
        <td>{{invoice.Power_perf_factor}}</td>
    </tr>
</table>